<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link href="assets/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="assets/css/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="assets/css/stream.css" media="screen" rel="stylesheet" type="text/css">
    <script src="assets/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script src="../dist/filter.js" type="text/javascript"></script>
    <script src="data/places.js" type="text/javascript"></script>
    <script src="food.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Food</h1>
      <div class="sidebar col-span-3">
        <div class="row">
          <h4 class="col-span-6"> Places (<span id="total_places">38</span>)</h4>
        </div>
        <div>
          <input type="text" id="searchbox" placeholder="Search...">
          <span class="glyphicon glyphicon-search search-icon"></span>
        </div>
        <div class="criteria" id="rating_criteria">
          <h4>Cost</h4>
          <span id="rating_range_label" class="slider-label">$5 - $50</span>
          <div id="rating_slider" class="slider"></div>
          <input type="hidden" id="rating_filter" value="5-50"/>
        </div>
        <div class="criteria" id="distance_criteria">
          <h4>Distance</h4>
          <span id="distance_range_label" class="slider-label">1 miles - 10 miles</span>
          <div id="distance_slider" class="slider"></div>
          <input type="hidden" id="distance_filter" value="1-10">
        </div>
        <div class="criteria" id="type_criteria">
          <h4>Type</h4>
          <select id="type_filter" class="col-span-8">
            <option value="Takeout">Takeout</option>
            <option value="Restaurant">Restaurant</option>
            <option value="all">All (Takeout &amp; Restaurant)</option>
          </select>
        </div>
        <div class="criteria" id="mood_criteria">
          <h4>Mood</h4>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="All" id="all_mood"> All
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Sandwiches"> Sandwiches
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Burgers"> Burgers
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Seafood"> Seafood
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Mexican"> Mexican
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Chicken"> Chicken
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Asian"> Asian
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Sushi"> Sushi
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Noodles"> Noodles
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Pizza"> Pizza
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="BBQ"> BBQ
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Italian"> Italian
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Mediterranean"> Mediterranean
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Cajun"> Cajun
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Family"> Family
            </label>
            </div>
          </div>
      </div>
      <div class="sorting content col-span-9">
      </div>
      <div class="places content col-span-9" id="places">
      </div>
      <script id="places-template" type="text/html">
        <div class="col-span-4 place">
          <div class="thumbnail">
            <span class="label label-success rating">
            <small><i class="glyphicon glyphicon-usd"></i></small><%= cost %>
          </span>
          <div class="caption">
            <h4><%= name %></h4>
            <div class="outline">
              <%= outline %>
              <span class="runtime">
                <i class="glyphicon glyphicon-time"></i>
                < <%= dist %> miles.
              </span>
            </div>
            <div class="detail">
              <dl>
                <dt>Type</dt>
                <dd><%= type %></dt>
                <dt>Mood</dt>
                <dd><%= mood %></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      </script>
      <script id="mood_template" type="text/html">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="<%= mood %>"> <%= mood %>
          </label>
        </div>
      </script>
    </body>
  </html>
